{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="keywords" content="NOM 035 Factores de riesgo psicosocial en el trabajo Identificación análisis prevención" />
    <meta name="description" content="NOM 035 - Servicio Profesional para el cumplimiento de las obligaciones de las NOM-035-STPS-2018">
    <title>Registrarse</title>
    <link rel="apple-touch-icon" href="{% static 'app-assets/images/ico/apple-icon-120.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'app-assets/images/ico/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/vendors.min.css' %}">
    <!-- END: Vendor CSS-->

    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/bootstrap-extended.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/colors.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/components.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/dark-layout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/themes/semi-dark-layout.css' %}">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/menu/menu-types/vertical-menu.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/core/colors/palette-gradient.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/authentication.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/vendors/css/extensions/toastr.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/extensions/toastr.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/validation/form-validation.min.css' %}">
    <!-- END: Page CSS-->

    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/style.css' %}">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->

<!-- BEGIN: Body-->

<!-- Modal -->
<div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalScrollableTitle">Términos y condiciones</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p> Biscuit powder jelly beans. Lollipop candy canes croissant icing chocolate cake. Cake fruitcake
                    powder pudding pastry.</p>

                <p>Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate bar. Cotton
                    candy
                    gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish dessert I love
                    caramels powder.</p>

                <p> Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake. Cupcake dessert icing
                    dragée
                    dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes lollipop liquorice
                    chocolate marzipan muffin pie liquorice.
                </p>
                <p> Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar plum tiramisu.
                    Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie sesame snaps
                    tootsie
                    roll carrot cake soufflé halvah.
                    Biscuit powder jelly beans. Lollipop candy canes croissant icing chocolate cake. Cake fruitcake
                    powder pudding pastry.</p>

                <p>Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate bar. Cotton
                    candy
                    gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish dessert I love
                    caramels powder.</p>

                <p> Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake. Cupcake dessert icing
                    dragée
                    dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes lollipop liquorice
                    chocolate marzipan muffin pie liquorice.</p>

                <p> Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar plum tiramisu.
                    Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie sesame snaps
                    tootsie
                    roll carrot cake soufflé halvah.
                    Biscuit powder jelly beans. Lollipop candy canes croissant icing chocolate cake. Cake fruitcake
                    powder pudding pastry.</p>

                <p> Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate bar. Cotton
                    candy
                    gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish dessert I love
                    caramels powder.</p>

                <p> Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake. Cupcake dessert icing
                    dragée
                    dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes lollipop liquorice
                    chocolate marzipan muffin pie liquorice.</p>

                <p> Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar plum tiramisu.
                    Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie sesame snaps
                    tootsie
                    roll carrot cake soufflé halvah.
                    Biscuit powder jelly beans. Lollipop candy canes croissant icing chocolate cake. Cake fruitcake
                    powder pudding pastry.</p>

                <p> Tootsie roll oat cake I love bear claw I love caramels caramels halvah chocolate bar. Cotton
                    candy
                    gummi bears pudding pie apple pie cookie. Cheesecake jujubes lemon drops danish dessert I love
                    caramels powder.</p>

                <p> Chocolate cake icing tiramisu liquorice toffee donut sweet roll cake. Cupcake dessert icing
                    dragée
                    dessert. Liquorice jujubes cake tart pie donut. Cotton candy candy canes lollipop liquorice
                    chocolate marzipan muffin pie liquorice.</p>

                <p>Powder cookie jelly beans sugar plum ice cream. Candy canes I love powder sugar plum tiramisu.
                    Liquorice pudding chocolate cake cupcake topping biscuit. Lemon drops apple pie sesame snaps
                    tootsie
                    roll carrot cake soufflé halvah.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
            </div>
        </div>
    </div>
</div>
<body class="vertical-layout vertical-menu-modern 1-column  navbar-floating footer-static bg-full-screen-image  blank-page blank-page" data-open="click" data-menu="vertical-menu-modern" data-col="1-column">
    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
            <section class="row flexbox-container">
                <div class="col-xl-8 col-10 d-flex justify-content-center">
                    <div class="card bg-authentication rounded-0 mb-0">
                        <div class="row m-0">
                            <div class="col-lg-6 d-lg-block d-none text-center align-self-center pl-0 pr-3 py-0">
                                    <img src="{% static 'app-assets/images/pages/register_3.jpg' %}" alt="branding logo">
                                    <br><br><br>
                                    <p class="clearfix blue-grey lighten-2 mb-0"><span class="float-md-left d-block d-md-inline-block mt-25">COPYRIGHT © 2020 <a class="text-bold-800 grey darken-2" href="#" target="_blank">Instituto Hispanoamericano de Estudios Superiores S.C.,</a>Todos los derechos reservados</span>
                                    </p>
                            </div>
                            <div class="col-lg-6 col-12 p-0">
                                <div class="card rounded-0 mb-0 p-2">
                                    <div class="card-header pt-50 pb-1">
                                        <div class="card-title">
                                            <h4 class="mb-0">Registrarse</h4>
                                        </div>
                                    </div>
                                    <p class="px-2">Llena el siguiente formulario para crear una cuenta nueva.</p>
                                    <div class="card-content">
                                    <div class="card-body pt-0">
                                    <form action="." method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="controls form-label-group">
                                                <input type="text" id="inputName" name="name" class="form-control" placeholder="Nombre, Denominación ó Razón social" data-validation-regex-regex="[\d\wáéíóúÁÉÍÓÚÑñüÜ\. -]{5,150}" data-validation-regex-message="Debes ingresar un nombre válido, puede usar puntos(.) y guión medio (-)." required>
                                                <label for="inputName">Nombre, Denominación ó Razón social</label>
                                                <p class="help-block"></p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="controls form-label-group">
                                                <input type="email" name="email" id="inputEmail" class="form-control" data-validation-required-message="Debe ser un email válido" placeholder="Email" required>
                                                <label for="inputEmail">Email</label>
                                                <p class="help-block"></p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="controls form-label-group">
                                                <input type="phone" id="inputPhone" name="phone" class="form-control" placeholder="Teléfono" required data-validation-regex-regex="[0-9]{10}" data-validation-regex-message="Debes colocar un número de 10 caracteres">
                                                <label for="inputPhone">Teléfono</label>
                                                <p class="help-block"></p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="controls form-label-group">
                                                <input type="password" id="inputPassword" name="password1" class="form-control" placeholder="Contraseña" required-message="La contraseña no es válida" data-validation-regex-regex="(?=.*\d)(?=.*[A-Z])(?=.*[a-z])([^\s]){8,16}"data-validation-regex-message="Debes colocar una contraseña de 8 a 16 carácteres y combinar mayúsculas, minúsculas y números" required>
                                                <label for="inputPassword">Contraseña</label>
                                                <p class="help-block"></p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="controls form-label-group">
                                                <input type="password" id="inputConfPassword" name="password2" class="form-control" placeholder="Confirmar Contraseña" data-validation-match-match="password1" data-validation-match-message="La contraseña debe coincidir" data-validation-required-message="La contraseña debe coincidir" required>
                                                <label for="inputConfPassword">Confirmar Contraseña</label>
                                                <p class="help-block"></p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                            <a href="#" data-toggle="modal" data-target="#exampleModalScrollable">Términos y condiciones</a>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-12">
                                                <fieldset class="checkbox">
                                                    <div class="vs-checkbox-con vs-checkbox-primary">
                                                        <input type="checkbox" checked>
                                                        <span class="vs-checkbox">
                                                            <span class="vs-checkbox--check">
                                                                <i class="vs-icon feather icon-check"></i>
                                                            </span>
                                                        </span>
                                                        <span class=""> Acepto los términos y condiciones.</span>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <a href="{% url 'login'%}" class="btn btn-outline-primary float-left btn-inline mb-50">Iniciar sesión</a>
                                        <button type="button" class="register btn btn-primary float-right btn-inline mb-50">Registrarse</button>
                                    </form>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            </div>
        </div>
    </div>
    <!-- END: Content-->


    <!-- BEGIN: Vendor JS-->
    <script src="{% static 'app-assets/vendors/js/vendors.min.js' %}"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="{% static 'app-assets/js/core/app-menu.js' %}"></script>
    <script src="{% static 'app-assets/js/core/app.js' %}"></script>
    <script src="{% static 'app-assets/js/scripts/components.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/extensions/toastr.min.js' %}"></script>
    <script src="{% static 'app-assets/vendors/js/forms/validation/jqBootstrapValidation.js' %}"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script src="https://www.google.com/recaptcha/api.js?render=6Le3XCEtAAAAAO-V0M9w9XaNgAtUHFj7TxrMJz0B"></script>

    <script type="text/javascript">
    $.ajaxSetup({ 
        beforeSend: function(xhr, settings) {
             function getCookie(name) {
                 var cookieValue = null;
                 if (document.cookie && document.cookie != '') {
                     var cookies = document.cookie.split(';');
                     for (var i = 0; i < cookies.length; i++) {
                         var cookie = jQuery.trim(cookies[i]);
                         // Does this cookie string begin with the name we want?
                         if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                         }
                     }
                 }
                 return cookieValue;
             }
             if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                 // Only send the token to relative URLs i.e. locally.
                 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
             }
         } 
    });
    $(document).ready(function(){
        $("input,select,textarea").not("[type=submit]").not("[type=hidden]").jqBootstrapValidation();
    });
    $(function(){
        var tk
        grecaptcha.ready(function() {
            grecaptcha.execute('6Le3XCEtAAAAAO-V0M9w9XaNgAtUHFj7TxrMJz0B', {action: 'login'}).then(function(token) {
                tk=token
            });
        });
        $(".register").click(function(){
            var valid=true
            // if($("#inputPhone").val().length<10&$("#inputPhone").val().length>=10){
            //     valid=false
            //     toastr.error('Error','El teléfono debe tener 10 digitos',{positionClass:'toast-bottom-right',containerId:'toast-bottom-right'});
            // }
            if(tk==undefined){
                valid=false
                toastr.error('Error','Acceso negado',{positionClass:'toast-bottom-right',containerId:'toast-bottom-right'});
            }
            if (valid){
            $.ajax({
              url: "/api/users/",
              method: 'POST',
              contentType :"application/json",
              data:JSON.stringify({
                      "name":$("#inputName").val(),
                      "username":$("#inputEmail").val(),
                      "phone":$("#inputPhone").val(),
                      "email":$("#inputEmail").val(),
                      "webform":tk,
                      "password1":$("#inputPassword").val(),
                      "password2":$("#inputConfPassword").val(),
                    }),
              dataType: 'json',
              success: function(data){
                toastr.success('Correcto','¡Registro exitoso! Iniciando sesión...',{positionClass:'toast-bottom-right',containerId:'toast-bottom-right'});
                $.ajax({
                  url: '/api/login/',
                  method: 'POST',
                  contentType: 'application/json',
                  data: JSON.stringify({username: $('#inputEmail').val(), password: $('#inputPassword').val()}),
                  dataType: 'json',
                  success: function(loginData){ location.replace('/stripe/planes/'); },
                  error: function(){ location.replace('/login'); }
                });
              },
              error:function (xhr, ajaxOptions, thrownError){
                console.log(xhr.status)
                if (xhr.status==400) {
                  toastr.error('Error','Ha ocurrido un error '+xhr.responseText,{positionClass:'toast-bottom-right',containerId:'toast-bottom-right'});
                }else if (xhr.status==401|xhr.status==411|xhr.status==412|xhr.status==406|xhr.status==416|xhr.status==417|xhr.status==409) {
                  toastr.error('Error',xhr.responseText,{positionClass:'toast-bottom-right',containerId:'toast-bottom-right'});
                }else if (xhr.status==500) {
                  toastr.error('Error','Se ha producido un error '+xhr.responseText,{positionClass:'toast-bottom-right',containerId:'toast-bottom-right'});
                }
                function Timer() {location.reload()}
                var timer = setInterval(Timer, 1000);
              }
            });
            }
        })
    });
    </script>
</body>
</html>