{% extends 'index.html'%}
{% load static %}
{% block dashboard %}
<div class="modal fade text-left" id="modal_contact" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal_contact">Cotiza con nosotros</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <h5>Realiza tu cotización con nostros</h5>
                <p>Teléfono: 333333333</p>
                <p>Email: contacto@ihes.mx</p>
                <a href="https://api.whatsapp.com/send?text=Hola soy de la empresa 'secso' y deseo solicitar una cotización" class="btn btn-primary"><i class="fa fa-whatsapp"></i> O haz click aquí para enviarnos un mensaje de WhatsApp</a>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div class="content-overlay"></div>
<div class="header-navbar-shadow"></div>
<div class="content-wrapper ecommerce-application" id="app">
    <div class="content-header row">
    </div>
    <div class="content-body">
        <div>
            <h4>Compra de evaluaciones para centros de trabajo</h4>
            <fieldset class="px-0">
                <section class="list-view product-checkout">
                    <div class="checkout-items">
                        {%for workplace in workplaces%}
                        <div class="card ecommerce-card">
                            <div class="card-content">
                                <div class="item-img text-center">
                                    {%if workplace.type == 1%}
                                    <img src="{% static '/app-assets/images/pages/eCommerce/DI-1.png' %}" alt="img-placeholder">
                                    {%elif workplace.type == 2%}
                                    <img src="{% static '/app-assets/images/pages/eCommerce/DII-1.png' %}" alt="img-placeholder">
                                    {%elif workplace.type == 3%}
                                    <img src="{% static '/app-assets/images/pages/eCommerce/DIII-1.png' %}" alt="img-placeholder">
                                    {%endif%}
                                </div>
                                <div class="card-body">
                                    <div class="item-name">
                                        {{workplace.name}}
                                        <span>{{workplace.business}}</span>
                                    </div>
                                    <div class="item-quantity">
                                        <p class="quantity-title">Cantidad de empleados: {{workplace.emp_num}}</p>
                                    </div>
                                    <p class="offers">{{workplace.address}}</p>
                                </div>
                                <div class="item-options text-center">
                                    <div class="item-wrapper">
                                        <h6 class="item-price">{{workplace.total_price}}$</h6>
                                        <div class="item-cost" v-if="wk.indexOf('{{workplace.id}}') != -1">
                                            <button type="button" class="btn bg-gradient-danger waves-effect waves-light" @click="add_workplace('{{workplace.id}}',{{workplace.total_price}},'{{workplace.name}}')">Remover</button>
                                        </div>
                                        <div class="item-cost" v-else>
                                            <button type="button" class="btn bg-gradient-primary waves-effect waves-light" @click="add_workplace('{{workplace.id}}',{{workplace.total_price}},'{{workplace.name}}')">Agregar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {%endfor%}
                    </div>
                        <!--<div class="card ecommerce-card">
                            <div class="card-content">
                                <div class="item-img text-center">
                                    <a href="app-ecommerce-details.html">
                                        <img src="{% static '/app-assets/images/pages/eCommerce/DII-1.png' %}" alt="img-placeholder">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="item-name">
                                        <a href="app-ecommerce-details.html">{{productB.name}}</a>
                                        <span></span>
                                    </div>
                                    <div class="item-quantity">
                                        <p class="quantity-title">Cantidad</p>
                                        <div class="input-group quantity-counter-wrapper">
                                            <input type="text" class="quantity-counter" id="quantityB" value="0">
                                        </div>
                                    </div>
                                    <p class="offers">{{productB.desc}}</p>
                                </div>
                                <div class="item-options text-center">
                                    <div class="item-wrapper">
                                        <div class="item-cost">
                                            <h6 class="item-price">${priceB}$</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card ecommerce-card">
                            <div class="card-content">
                                <div class="item-img text-center">
                                    <a href="app-ecommerce-details.html">
                                        <img src="{% static '/app-assets/images/pages/eCommerce/DIII-1.png' %}" alt="img-placeholder">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="item-name">
                                        <a href="app-ecommerce-details.html">{{productC.name}}</a>
                                        <span></span>
                                    </div>
                                    <div class="item-quantity">
                                        <p class="quantity-title">Cantidad</p>
                                        <div class="input-group quantity-counter-wrapper">
                                            <input type="text" class="quantity-counter" id="quantityC" value="0">
                                        </div>
                                    </div>
                                    <p class="offers">{{productC.desc}}</p>
                                </div>
                                <div class="item-options text-center">
                                    <div class="item-cost">
                                        <h6 class="item-price">${priceC}$</h6>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="card ecommerce-card">
                            <div class="card-content">
                                <div class="item-img text-center">
                                    <a href="app-ecommerce-details.html">
                                        <img src="{% static '/app-assets/images/pages/eCommerce/DI.png' %}" alt="img-placeholder">
                                    </a>
                                </div>
                                <div class="card-body">
                                    <div class="item-name">
                                        <a href="app-ecommerce-details.html">{{productD.name}}</a>
                                        <span></span>
                                    </div>
                                    <br>
                                    <br>
                                    <p class="offers">{{productD.desc}}</p>
                                </div>
                                <div class="item-options text-center">
                                    <div class="item-wrapper">
                                        <button type="button" class="open-contact btn bg-gradient-primary waves-effect waves-light">Cotiza aquí</button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    <div class="checkout-options">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    <div class="price-details">
                                        <p>Costos</p>
                                    </div>
                                    <div class="detail">
                                        <div class="detail-title">
                                            Subtotal de ${workplaces.length} productos
                                        </div>
                                        <div>
                                            $${total_price}
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="detail">
                                        <div class="detail-title detail-total">Total</div>
                                        <div>$${total}</div>
                                    </div>
                                    <div class="btn btn-primary btn-block modal_confirm">Proceder a la compra</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </fieldset>
            <!-- Checkout Place order Ends -->

            <!-- Checkout Payment Starts -->
            <fieldset class="px-0">
                <section id="checkout-payment" class="list-view product-checkout">
                    <div class="payment-type">
                        <div class="card">
                            <div class="card-header flex-column align-items-start">
                                <h4 class="card-title">Opciones de pago</h4>
                                <p class="text-muted mt-25">Asegurate de seleccionar la tarjeta correcta</p>
                            </div>
                            <div class="card-content">
                                <div class="card-body">
                                    <ul class="list-group">
                                    <li class="list-group-item text-center"><b>Tarjetas de crédito o débito</b></li>
                                    {% for item in cards %}
                                    <li class="list-group-item" data-token="{{item.card_token}}">
                                        <div class="media">
                                            <a class="media-left" href="#" style="width:100px;" >
                                                <img src="/static/app-assets/images/logo/{{item.brand}}.png" alt="{{item.brand}}" width="100%" style="max-width:100px;" height="50">
                                            </a>
                                            <div class="media-body">
                                                <h4 class="media-heading">{{item.name}}
                                                <i class="pull-right fa fa-times text-danger delete-card" data-token="{{item.card_token}}" data-toggle="tooltip" title="Eliminar tarjeta"></i>
                                                </h4>
                                                <h6>Tarjeta {{item.brand}} que termina en <b>{{item.last4}}</b> <small>Expiración {{item.exp_month}}/{{item.exp_year}}</small>
                                                <fieldset class="pull-right">
                                                    <div class="vs-radio-con" >
                                                        <input type="radio" class="question_opt" name="vueradio" v-model="selected_card" value="{{item.card_token}}">
                                                        <span class="vs-radio"><span class="vs-radio--border"></span>
                                                        <span class="vs-radio--circle"></span></span>
                                                        <span>Usar ésta tarjeta</span>
                                                    </div>
                                                </fieldset>
                                                </h6>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                    <li class="list-group-item">
                                        <div class="default-collapse collapse-bordered">
                                            <div class="card collapse-header">
                                                <div id="headingCollapse1" class="card-header collapsed" data-toggle="collapse" role="button" data-target="#collapse1"   style="padding: 0rem !important;">
                                                    <span class="lead collapse-title text-primary"><i class="fa fa-plus"></i> Agregar tarjeta de crédito o débito</span>
                                                </div>
                                                <div id="collapse1" role="tabpanel" aria-labelledby="headingCollapse1" class="collapse" style="">
                                                <div class="card-content">
                                                <div class="card-body">
                                                    <form action="" method="POST" id="card-form">
                                                        <span class="card-errors"></span>
                                                        <div class="row">
                                                          <div class="col-md-6">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Nombre del tarjetahabiente</label>
                                                                    <input type="text" class="form-control" placeholder="Nombre del tarjetahabiente" size="20" data-conekta="card[name]">
                                                                </div>
                                                            </div>
                                                          </div>
                                                          <div  class="col-md-6">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Número de tarjeta de crédito o débito</label>
                                                                    <input type="text" class="form-control" placeholder="Número de tarjeta de crédito o débito" size="20" data-conekta="card[number]">
                                                                </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <div class="row">
                                                          <div class="col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>CCV</label>
                                                                    <input type="text" class="form-control" placeholder="CCV" size="4" data-conekta="card[cvc]">
                                                                </div>
                                                            </div>
                                                          </div>
                                                          <div class="col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Mes de expiración (MM)</label>
                                                                    <input type="text" class="form-control" placeholder="Mes de expiración (MM)" size="2" data-conekta="card[exp_month]">
                                                                </div>
                                                            </div>
                                                          </div>
                                                          <div class="col-md-4">
                                                            <div class="form-group">
                                                                <div class="controls">
                                                                    <label>Año de expiración(AAAA)</label>
                                                                    <input type="text" class="form-control" placeholder="Año de expiración(AAAA)" size="4" data-conekta="card[exp_year]">
                                                                </div>
                                                            </div>
                                                          </div>
                                                        </div>
                                                        <button class="btn btn-success pull-right" id="submit-card" type="button">Añadir tarjeta</button>
                                                    </form>
                                                </div>
                                                </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </fieldset>
            <!-- Checkout Payment Starts -->
        </div>
        <div class="modal fade text-left" id="confirm_purchase" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="confirm_purchase">Estás a punto de comprar</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </div>
                    <div class="modal-body">
                        <ul class="list-group">
                            <div v-for="item in workplaces">
                                <li class="list-group-item"> ${item[2]} <span class="pull-right">${item[1]}</span></li>
                            </div>
                            <li class="list-group-item"><b>Total</b><span class="pull-right" id="total_price"></span></li>
                        </ul>
                        <h5>Recibirás un correo con toda la información de tu compra</h5>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger waves-effect waves-light" data-dismiss="modal">Cerrar</button>
                        <div class="btn btn-primary place-order">Proceder a la compra</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
{% block scripts %}
    
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/pages/app-ecommerce-shop.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'app-assets/css/plugins/forms/wizard.css' %}">
<style type="text/css">
    .custom-control-label::before, .custom-control-label::after {
        top: 0.0rem !important;
    }
    .ecommerce-application .product-checkout.list-view {
        grid-template-columns: 2fr 0.7fr !important;
    }
    #app{
        display:none;
    }
</style>
<script src="{% static 'app-assets/vendors/js/forms/spinner/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/forms/validation/jquery.validate.min.js' %}"></script>
<script src="{% static 'app-assets/js/scripts/pages/app-ecommerce-shop.js' %}"></script>
<script src="{% static 'app-assets/vendors/js/extensions/jquery.steps.min.js' %}"></script>
<script type="text/javascript" src="https://cdn.conekta.io/js/latest/conekta.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script type="text/javascript">
var app
window.onload = function () {
    app = new Vue({
        el: '#app',
        delimiters: ['${','}'],
        data: {
            total:0,
            workplaces:[],
            wk:[],
            selected_card:'',
        },
        methods: {
            loadJsonData(){
                var dis=this
                $(function(){
                    $("#app").block({ 
                        message: '<i class="text-primary fa fa-3x fa-spinner fa-spin"></i>',
                        timeout: 1000, //unblock after 3 seconds
                        overlayCSS:{backgroundColor:'#fff',opacity:0.8,cursor:'wait'},
                        css: {border: 0,padding: 0,backgroundColor: 'transparent'}
                    })
                });
            },
            add_workplace(workplace,price,name){
                var dis=this
                $(function(){
                    $("#app").block({ 
                        message: '<i class="text-primary fa fa-3x fa-spinner fa-spin"></i>',
                        timeout: 1000, //unblock after 3 seconds
                        overlayCSS:{backgroundColor:'#fff',opacity:0.8,cursor:'wait'},
                        css: {border: 0,padding: 0,backgroundColor: 'transparent'}
                    })
                    var index=app.wk.indexOf(workplace)
                    if (index==-1){
                        app.workplaces.push([workplace,price,name]);
                        app.wk.push(workplace);}
                    else{app.workplaces.splice(index, 1);app.wk.splice(index, 1);}
                });
            },
        },
        computed: {
            // quantity: function () {
            //     return this.WorkplaceA + this.WorkplaceB+ this.WorkplaceC
            // },
            // total_price: function () {
            //     this.total=(this.WorkplaceA*this.priceA) + (this.WorkplaceB*this.priceB)+ (this.WorkplaceC*this.priceC)
            //     return this.total
            // },
            total_price: function () {
                var price=0
                for (var i in this.workplaces){
                    price=price+this.workplaces[i][1]
                }
                this.total=price
                return this.total
            },
        },
        mounted: function () {
            this.$nextTick(function () {
                 $(function(){
                    $("#app").css('display','block')
                    Conekta.setPublicKey('key_AhXYuQnj8pMv4UEmsEz8Hsw');//testing
                    var conektaSuccessResponseHandler = function(token){
                        $("#submit-card").prop("disabled", true);
                        $.ajax({
                            url: "/api/addCard/",
                            method: 'POST',
                            contentType :"application/json",
                            data:JSON.stringify({"card_token":token.id}),
                            dataType: 'json',
                            success: function(data){
                                toastr.success('Tu tarjeta fue registrada con éxito',"ok")
                                $("#card-form").trigger("reset");
                              function myTimer() {location.replace("{% url 'payments' %}")}
                              var myVar = setInterval(myTimer, 1000);
                            },
                            error:function (xhr, ajaxOptions, thrownError){
                                console.log(xhr.status)
                                if (xhr.status!=201) {
                                    toastr.success('Ha ocurrido un error '+xhr.responseText,"Error");
                                }
                            }
                        });
                    };
                    var conektaErrorResponseHandler = function(response) {
                        var $form = $("#card-form");
                        $form.find(".card-errors").text(response.message_to_purchaser);
                        $("#submit-card").prop("disabled", false);
                    };
                    $("#submit-card").click(function(){
                      var $form = $("#card-form");
                      // Previene hacer submit más de una vez
                      $("#submit-card").prop("disabled", true);
                      Conekta.Token.create($form, conektaSuccessResponseHandler, conektaErrorResponseHandler);

                      return false;
                    });

                    $(".delete-card").click(function(){
                        var token=$(this).attr("data-token")
                        $.ajax({
                            url: "/api/addCard/",
                            method: 'DELETE',
                            contentType :"application/json",
                            data:JSON.stringify({"card_token":token}),
                            dataType: 'json',
                            success: function(data){
                                toastr.success('Tu tarjeta fue eliminada',"ok")
                                function myTimer() {location.replace("{% url 'payments' %}")}
                                var myVar = setInterval(myTimer, 1000);
                            },
                            error:function (xhr, ajaxOptions, thrownError){
                                console.log(xhr.status)
                                if (xhr.status!=201) {
                                    toastr.success('Ha ocurrido un error '+xhr.responseText,"Error");
                                }
                            }
                          });
                    })
                    $(".modal_confirm").click(function(){
                        if (app.workplaces.length==0 ){
                            toastr.error("No has seleccionado las evaluaciones a los centros de trabajo que deseas adquirir","Error")
                        }else{
                            if(app.selected_card!=""){
                                $("#total_price").text(app.total_price)
                                $("#confirm_purchase").modal('show')
                            }else{
                                toastr.error("Por favor, selecciona la tarjeta con la que realizarás tu pago","Error")
                            }
                        }
                    })
                    $(".place-order").click(function(){
                        $(this).prop('disabled',true)
                        $("#confirm_purchase").modal('hide')
                        var toast=toastr.success("Por favor espera, Procesando tu pago","Espera",{
                          "closeButton": true,
                          "positionClass": "toast-top-center",
                          "showDuration": "0",
                          "hideDuration": "0",
                          "timeOut": "0",
                          "extendedTimeOut": "0",
                        })
                        if(app.selected_card!=""){
                        $.ajax({
                            url: "/api/payments/",
                            method: 'POST',
                            contentType :"application/json",
                            data:JSON.stringify({"user":"{{request.user.id}}","card_token":app.selected_card,'workplaces':app.workplaces}),
                            dataType: 'json',
                            success: function(data){
                                toastr.success("has realizado tu compra con éxito",'ok')
                                function myTimer() {location.replace("{% url 'index' %}")}
                                var myVar = setInterval(myTimer, 1000);
                                toast.clear()
                            },
                            error:function (xhr, ajaxOptions, thrownError){
                                $(".place-order").prop('disabled',true)
                                toast.clear()
                                console.log(xhr.status)
                                if (xhr.status!=201) {
                                    toastr.success('Ha ocurrido un error '+xhr.responseText,"Error");
                                }
                            }
                          });
                        }else{
                            toastr.error("Por favor, selecciona la tarjeta con la que realizarás tu pago","Error")
                        }
                    })
                    $(".open-contact").click(function(){
                        $("#modal_contact").modal('show')
                    })
                    // $(".quantity-counter").TouchSpin({min: 0,max: 6})
                    // $("#quantityA").on('touchspin.on.stopspin', function () {
                    //     console.log($(this))
                    //     app.WorkplaceA=parseInt( $(this).val())
                    // })
                    // $("#quantityB").on('touchspin.on.stopspin', function () {
                    //     console.log($(this))
                    //     app.WorkplaceB=parseInt( $(this).val())
                    // })
                    // $("#quantityC").on('touchspin.on.stopspin', function () {
                    //     console.log($(this))
                    //     app.WorkplaceC=parseInt( $(this).val())
                    // })
                });
            })
        }
    })
};

</script>
{% endblock%}